@import '../../styles/mixins/colors.scss';
@import '../../styles/mixins/fonts.scss';

.button {
    @include SizeSmall;
    padding: 15px 50px;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    border: none;

    &.primary {
        background-color: $green-color;
    }
    
    &.secundary {
        background-color: white;
        color: $purple-color;
    }

    &.full {
        @include SizeNormal;
        padding: 21px;
        width: 100%;
        font-weight: 600;
        background-color: $green3-color;
    }
}