$purple-color: #380158;
$purple2-color: #350053;

$gray-color: #afafaf;
$gray2-color: #4A4A4A;
$gray3-color: #C9C9C9;
$gray4-color: #F7F7F7;
$gray5-color: #606060;

$green-color: #0DC74F;
$green2-color: #0FCE33;
$green3-color: #0AAA28;